.Form {
  border: 3px solid blue;
}
.SuccessMessage {
  width: 350px;
  height: 60px;
  background-color: rgb(189, 255, 189);
  color: rgb(73, 97, 31);
  font-size: 18px;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  font-family: "Segoe UI";
  text-align: center;
  border: solid 1px rgba(128, 128, 128, 0.376);
}

.ErrorMessage {
  width: 350px;
  height: 60px;
  background-color: rgb(248, 159, 156);
  color: rgb(139, 5, 5);
  font-size: 18px;
  margin: 5px;
  padding: 12px;
  text-align: center;
  border-radius: 5px;
  font-family: "Segoe UI";
  border: solid 1px rgba(128, 128, 128, 0.376);
}

.Title {
  margin: 5px;
  font-size: 18px;
  font-family: "Segoe UI";
}

.Form input {
  margin-left: 5px;
}
